@import "../../Styles/Mixins.scss";

.main {
    @include mainImageContainer();

    display: flex;
    flex-direction: column;
    gap: 30px;

    .collapses {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 25px;
    }
}