@import "../../Styles/Mixins.scss";

.main {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .imgContainer {
        @include mainImageContainer();
    }

    .collapses {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 25px;
    }

}