@keyframes rotateIcon {
    from {
        transform: rotate(-180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes rotateIconBack {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes slideFromTop {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideToTop {
    from {
      transform: translateY(0);
      padding: 20px;
      opacity: 1;
    }
    to {
      transform: translateY(-150%);
      padding: 0;
      opacity: 0;
    }
  }